@tailwind base;
@tailwind components;
@tailwind utilities;  /* Custom css */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');

::selection {
  background-color: #07FFD7;
  color: #000000;
}

::-moz-selection {
  background-color: #07FFD7;
  color: #000000;
}

* { box-sizing: border-box }

#navAction,
#nLink {
 -moz-transition: all .3s ease;
 -o-transition: all .3s ease;
 -webkit-transition: all .3s ease;
}

#navAction:hover {
  background-color: #07FFD7;
}

#nLink:hover {
  color: #07FFD7;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
	font-family: 'Montserrat', sans-serif;
}

.gradient {
  background: url('/public/starkiteckt-designs-into-the-depths-5k.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.gradient-b {
  background: linear-gradient(90deg, #4646F2 0%, #3434F6 100%);
}

.layout {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#btn-signup {
	color: #191654;
}

#header {
  z-index: 300;
}